.color-red {
    color: red;
}

.bg-high {
    background: red;
}
.bg-medium {
    background: #ffa500;
}
.bg-low {
    background: #7cfc00;
}

.icon-aerospace {
    background: url("../img/aerospace.png?v=135.8") 0 2px no-repeat;
}

.icon-infantry {
    background: url("../img/infantry.png?v=135.8") 0 2px no-repeat;
}


.icon-mechanized {
    background: url("../img/mechanized.png?v=135.8") 0 2px no-repeat;
}

.icon-mechanized {
    background: url("../img/mechanized.png?v=135.8") no-repeat;
}

.btn-group { margin-bottom:  5px;}

.navbar-form select {
}

.navbar-form input-prepend {
    display:  inline-block;
}

img.ps2 {height: 24px; width: 24px;}